.link{
    color:rgb(10, 40, 124);
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    margin: 0;
    margin-right: 30px;
    line-height: 1.2;
    

}
.link:hover, .link:focus{
    color: rgb(176, 196, 255);
}
.activeLink{
    color: #fff;
    font-weight: 700;
    /* font-size: 16px;
    text-decoration: none; */
}