ul{
    list-style:decimal;
    font-weight: 700;    
}

li, .link, a{
    text-decoration: none;    
    color:#212121;
    font-size:20px;
    margin: 0;
    line-height: 1.2;
}

h3{
    margin: 0;
    line-height: 1.6;
    font-size: 20px;
}